.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(167, 114, 125);
    padding: 0;
    color: #D0B8A8;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body {
    padding-top: 60px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.navbar-icons {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.navbar-icons a,
.navbar-icons button {
    color: white;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
}

.navbar-icons i {
    font-size: 20px;
}

.navbar-icons .fa-shopping-cart {
    font-size: 22px;
}

.navbar-icons .fa-shopping-cart:hover {
    color: white;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}

.navbar-left button:hover,
.navbar-icons button:hover {
    text-decoration: underline;
}

button {
    font-family: 'Mate', serif;
}

button.logout-button,
button.login-button,
button.register-button {
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    margin-left: 15px;
    margin-right: 5px;
    appearance: none;
    -webkit-appearance: none;
    font-size: 24px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0 20px;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #A7727D;
    border-radius: 4px 0 0 4px;
    width: 400px;
    font-size: 20px;
    color: #A7727D;
    background-color: #F8EDE3;
    box-sizing: border-box;
}

.search-bar button {
    padding: 4px 8px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #945C70;
    color: #F8EDE3;
    font-size: 20px;
    cursor: pointer;
    width: 120px;

}
.search-bar button:hover {
    background-color: #945C70;
}
