html, body, #root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Mate', serif;
}

/* bejul doar dacă NU e pagina register */
html:not(.register-page) body,
html:not(.register-page) #root {
  background-color: #F8EDE3;
}
