.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px 20px;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

body {
    padding-top: 60px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.navbar-icons {
    display: flex;
    align-items: center;
}

.navbar-icons a {
    color: white;
    margin: 0 15px;
}

.navbar-icons i {
    font-size: 20px;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    .navbar-icons {
        margin-top: 10px;
        justify-content: center;
    }
}
